public/end-credits/index.html
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - End Credits</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class='wrapper'>
  <div class='name'>You have been watching</div>
  <div class='movie'>DfE Cloud Specialism Project</div>
  <div class='job'>Presented by</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Starring</div>
<div class='name'>Abdul Butt</div>
<div class='name'>Ahsan Rasul</div>
<div class='name'>Asad-Ali Sarwar</div>
<div class='name'>Ashley Alphonso</div>
<div class='name'>Ebonique Mondesir</div>
<div class='name'>Jack Barclay</div>
<div class='name'>Jamal  Hussain</div>
<div class='name'>James Dovener</div>
<div class='name'>Jazz Haddlesey</div>
<div class='name'>Jonathan Derbyshire</div>
<div class='name'>Kristaps Liepins</div>
<div class='name'>Liam Robertson</div>
<div class='name'>Luke Back</div>
<div class='name'>Ramtin Koravand</div>
<div class='name'>Saharsh Parmar</div>
<div class='name'>Thomas Stoyles</div>
  <div class='job'>Also Starring</div>
  <div class='overname'>Leons's Bow Ties</div>
  <div class='name'>As themselves</div>
  <div class='job'>Edited By</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Director of Photography</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Written By</div>
  <div class='overname'>Leon L. Robinson</div>
  <div class='name'>Based on content at qa-community</div>
  <div class='job'>Produced By</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Directed By</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Executive Producer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Associate Producer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Unit Production Manager (UPM)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Director</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Writer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>1st Assisant Director (1st AD)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>2nd AD</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>2nd 2nd AD</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Script Supervisor</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Production Coordinator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Asst. Production Coordinator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Assistant to Producer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Location Manager</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Technical Director</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Accountant</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>CAMERA</div>
  <div class='job'>Director of Photography (DP)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>2nd Unit DP</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Camera Operator (CO)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Camera Operator (B Cam)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>1st AC</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>1st AC (B Cam)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>2nd AC</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Loader</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>SOUND</div>
  <div class='job'>Sound Mixer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Boom Operator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Utility</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>ELECTRICAL</div>
  <div class='job'>Gaffer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Best Boy Electrician</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Electrition</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Electrition Generator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Operator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>GRIP</div>
  <div class='job'>Key Grip</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Best Boy</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Dolly Grip</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Grip</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>ART DEPARTMENT</div>
  <div class='job'>Production Designer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Art Director</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Set Decorator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Set Dresser</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Prop Master</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Assistant Props</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Weapons Wrangler</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Greensman</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>MAKEUP & HAIR</div>
  <div class='job'>Key Makeup</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Assistant Makeup</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Key Hair</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Assistant Hair</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>SP/FX Makeup</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>WARDROBE</div>
  <div class='job'>Wardrobe Supervisor</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Costumer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Wardrobe Assistant</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>STUNTS & SPECIAL EFFECTS</div>
  <div class='job'>SPFX Coordinator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Pyro</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Stunt Coordinator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Weapons Super</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Armorer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>TRANSPORTATION</div>
  <div class='job'>Grip Truck</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Camera Truck</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Pickup</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Crew Van</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Generator</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>CATERING</div>
  <div class='job'>Caterer</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Craft Services</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>PRODUCTION ASSISTANTS</div>
  <div class='job'>Key Production Assisant (PA)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Production Assistant (PA)</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Office PA</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Intern</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>POST PRODUCTION</div>
  <div class='job'>Editor</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Sound Editor</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Assisant Editor</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='dept'>ADDITIONAL CREW MEMBERS</div>
  <div class='job'>Extras Casting</div>
  <div class='name'>Leon L. Robinson</div>
  <div class='job'>Still Photographer</div>
  <div class='name'>Leon L. Robinson</div>
</div>
<!-- partial -->
  
</body>
</html>

end-credits/src/index.haml
.wrapper
  .name You have been watching
  .movie DfE Data Engineer
  .movie Core Concepts
  .job  Presented by
  .name Leon L. Robinson
  .job  Starring
  .name Abigail Davies
  .name Anna  Cotugno
  .name Bariol  Dulellari
  .name Ben  Pinches
  .name Callum Thomas
  .name Christina  Windall
  .name Daniel Ho
  .name Daniel Watson
  .name Dave  Heeley
  .name Elizabeth Kehinde Mavauley
  .name Farah  Adam
  .name George Cunliffe
  .name Imran Shah
  .name Jordan Fisher
  .name Marta Saporiti
  .name Murad  Ahmed
  .name Nizam Ud-Din
  .name Noor Dayyat
  .name Paul Fletcher
  .name Rency  De Sa
  .name Sadique  Mohammed
  .name Samantha Smith
  .name Tasneem  Ali
  .name Pade Abidakun
  .job  Also Starring
  .overname Leons's Bow Ties
  .name As themselves
  .job  Edited By
  .name Leon L. Robinson
  .job  Director of Photography
  .name Leon L. Robinson
  .job  Written By
  .overname Leon L. Robinson
  .name Based on content at qa-community
  .job   Produced By
  .name Leon L. Robinson
  .job    Directed By
  .name Leon L. Robinson
  .job    Executive Producer
  .name Leon L. Robinson
  .job  Associate Producer
  .name Leon L. Robinson
  .job  Unit Production Manager (UPM)
  .name Leon L. Robinson
  .job  Director
  .name Leon L. Robinson
  .job  Writer
  .name Leon L. Robinson
  .job  1st Assisant Director (1st AD)
  .name Leon L. Robinson
  .job  2nd AD
  .name Leon L. Robinson
  .job  2nd 2nd AD
  .name Leon L. Robinson
  .job  Script Supervisor
  .name Leon L. Robinson
  .job  Production Coordinator
  .name Leon L. Robinson
  .job  Asst. Production Coordinator
  .name Leon L. Robinson
  .job  Assistant to Producer
  .name Leon L. Robinson
  .job  Location Manager
  .name Leon L. Robinson
  .job  Technical Director
  .name Leon L. Robinson
  .job  Accountant
  .name Leon L. Robinson
  .dept  CAMERA
  .job  Director of Photography (DP)
  .name Leon L. Robinson
  .job  2nd Unit DP
  .name Leon L. Robinson
  .job  Camera Operator (CO)
  .name Leon L. Robinson
  .job  Camera Operator (B Cam)
  .name Leon L. Robinson
  .job  1st AC
  .name Leon L. Robinson
  .job  1st AC (B Cam)
  .name Leon L. Robinson
  .job  2nd AC
  .name Leon L. Robinson
  .job  Loader
  .name Leon L. Robinson
  .dept  SOUND
  .job  Sound Mixer
  .name Leon L. Robinson
  .job  Boom Operator
  .name Leon L. Robinson
  .job  Utility
  .name Leon L. Robinson
  .dept  ELECTRICAL
  .job  Gaffer
  .name Leon L. Robinson
  .job  Best Boy Electrician
  .name Leon L. Robinson
  .job  Electrition
  .name Leon L. Robinson
  .job  Electrition Generator
  .name Leon L. Robinson
  .job  Operator
  .name Leon L. Robinson
  .dept  GRIP
  .job  Key Grip
  .name Leon L. Robinson
  .job  Best Boy
  .name Leon L. Robinson
  .job  Dolly Grip
  .name Leon L. Robinson
  .job  Grip
  .name Leon L. Robinson
  .dept  ART DEPARTMENT
  .job  Production Designer
  .name Leon L. Robinson
  .job  Art Director
  .name Leon L. Robinson
  .job  Set Decorator
  .name Leon L. Robinson
  .job  Set Dresser
  .name Leon L. Robinson
  .job  Prop Master
  .name Leon L. Robinson
  .job  Assistant Props
  .name Leon L. Robinson
  .job  Weapons Wrangler
  .name Leon L. Robinson
  .job  Greensman
  .name Leon L. Robinson
  .dept MAKEUP & HAIR
  .job  Key Makeup
  .name Leon L. Robinson
  .job  Assistant Makeup
  .name Leon L. Robinson
  .job  Key Hair
  .name Leon L. Robinson
  .job  Assistant Hair
  .name Leon L. Robinson
  .job  SP/FX Makeup
  .name Leon L. Robinson
  .dept WARDROBE
  .job  Wardrobe Supervisor
  .name Leon L. Robinson
  .job  Costumer
  .name Leon L. Robinson
  .job  Wardrobe Assistant
  .name Leon L. Robinson
  .dept STUNTS & SPECIAL EFFECTS
  .job  SPFX Coordinator
  .name Leon L. Robinson
  .job  Pyro
  .name Leon L. Robinson
  .job  Stunt Coordinator
  .name Leon L. Robinson
  .job  Weapons Super
  .name Leon L. Robinson
  .job  Armorer
  .name Leon L. Robinson
  .dept TRANSPORTATION
  .job  Grip Truck
  .name Leon L. Robinson
  .job  Camera Truck
  .name Leon L. Robinson
  .job  Pickup
  .name Leon L. Robinson
  .job  Crew Van
  .name Leon L. Robinson
  .job  Generator
  .name Leon L. Robinson
  .dept CATERING
  .job  Caterer
  .name Leon L. Robinson
  .job  Craft Services
  .name Leon L. Robinson
  .dept PRODUCTION ASSISTANTS
  .job  Key Production Assisant (PA)
  .name Leon L. Robinson
  .job  Production Assistant (PA)
  .name Leon L. Robinson
  .job  Office PA
  .name Leon L. Robinson
  .job  Intern
  .name Leon L. Robinson
  .dept POST PRODUCTION
  .job  Editor
  .name Leon L. Robinson
  .job  Sound Editor
  .name Leon L. Robinson
  .job  Assisant Editor
  .name Leon L. Robinson
  .dept ADDITIONAL CREW MEMBERS
  .job  Extras Casting
  .name Leon L. Robinson
  .job  Still Photographer
  .name Leon L. Robinson
