public/thesecretmeeting/index.html
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Navigation PageDesign/Lesson</title>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="sara mazal lessons">
<meta name="keywords" content="HTML, CSS, JavaScript, mazal, icons">
<meta name="author" content="Sara Mazal">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<sectio class="nav">
  <h1>THE NEXT SECTION</h1>
  <h3 class="span loader"><span class="m">I</span><span class="m">T</span><span class="m">&nbsp;</span><span class="m">I</span><span class="m">S</span><span class="m">&nbsp;</span><span class="m">W</span><span class="m">H</span><span class="m">A</span><span class="m">T</span><span class="m">&nbsp;</span><span class="m">I</span><span class="m">S</span><span class="m">&nbsp;</span><span class="m">C</span><span class="m">O</span><span class="m">M</span><span class="m">I</span><span class="m">N</span><span class="m">G</span><span class="m">&nbsp;</span><span class="m">N</span><span class="m">E</span><span class="m">X</span><span class="m">T</span>

</sectio>
<canvas class="background"></canvas>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>

navigation-pagedesign-lesson/src/index.pug
sectio.nav
  h1 THE SECRET MEETING
  h3.span.loader
    span.m E
    span.m V
    span.m E
    span.m N
    span.m &nbsp;
    span.m W
    span.m E
    span.m &nbsp;
    span.m D
    span.m O
    span.m N
    span.m '
    span.m T
    span.m &nbsp;
    span.m K
    span.m N
    span.m O
    span.m W
    span.m &nbsp;
    span.m A
    span.m B
    span.m O
    span.m U
    span.m T
    span.m &nbsp;
    span.m I
    span.m T

canvas.background
